@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/main.scss */
article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*Fonts */
/* line 13, ../sass/main.scss */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

/* Logo Animation */
@keyframes logo-separator {
  /* line 20, ../sass/main.scss */
  0% {
    top: -140px;
    background: #fff;
  }

  /* line 21, ../sass/main.scss */
  100% {
    top: -10px;
    background: #aaa;
  }
}

@-webkit-keyframes logo-separator {
  /* line 24, ../sass/main.scss */
  0% {
    top: -140px;
    background: #fff;
  }

  /* line 25, ../sass/main.scss */
  100% {
    top: -10px;
    background: #aaa;
  }
}

@-moz-keyframes logo-separator {
  /* line 28, ../sass/main.scss */
  0% {
    top: -140px;
    background: #fff;
  }

  /* line 29, ../sass/main.scss */
  100% {
    top: -10px;
    background: #aaa;
  }
}

@keyframes logo-name {
  /* line 33, ../sass/main.scss */
  0% {
    text-indent: -240px;
  }

  /* line 34, ../sass/main.scss */
  100% {
    text-indent: 0;
  }
}

@-webkit-keyframes logo-name {
  /* line 37, ../sass/main.scss */
  0% {
    text-indent: -240px;
  }

  /* line 38, ../sass/main.scss */
  100% {
    text-indent: 0;
  }
}

@-moz-keyframes logo-name {
  /* line 41, ../sass/main.scss */
  0% {
    text-indent: -240px;
  }

  /* line 42, ../sass/main.scss */
  100% {
    text-indent: 0;
  }
}

@keyframes logo-symbol {
  /* line 46, ../sass/main.scss */
  0% {
    right: -80px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* line 51, ../sass/main.scss */
  100% {
    right: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes logo-symbol {
  /* line 58, ../sass/main.scss */
  0% {
    right: -80px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* line 63, ../sass/main.scss */
  100% {
    right: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes logo-symbol {
  /* line 70, ../sass/main.scss */
  0% {
    right: -80px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* line 75, ../sass/main.scss */
  100% {
    right: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes shake-email {
  /* line 83, ../sass/main.scss */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  /* line 84, ../sass/main.scss */
  40% {
    -webkit-transform: translateY(-25px);
  }

  /* line 85, ../sass/main.scss */
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes shake-email {
  /* line 88, ../sass/main.scss */
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  /* line 89, ../sass/main.scss */
  40% {
    -moz-transform: translateY(-25px);
  }

  /* line 90, ../sass/main.scss */
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes shake-email {
  /* line 93, ../sass/main.scss */
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  /* line 94, ../sass/main.scss */
  40% {
    -o-transform: translateY(-25px);
  }

  /* line 95, ../sass/main.scss */
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes shake-email {
  /* line 98, ../sass/main.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 99, ../sass/main.scss */
  40% {
    transform: translateY(-25px);
  }

  /* line 100, ../sass/main.scss */
  60% {
    transform: translateY(-15px);
  }
}

/* line 103, ../sass/main.scss */
.container {
  width: 100%;
}

/* line 106, ../sass/main.scss */
.logo {
  position: relative;
  margin-top: 50px;
  left: -50px;
}

/* line 111, ../sass/main.scss */
.logo-symbol-wrap {
  position: absolute;
  padding-right: 20px;
  right: 50%;
  display: inline-block;
  overflow: hidden;
}

/* line 118, ../sass/main.scss */
.logo-symbol {
  width: 60px;
  height: 60px;
  position: relative;
  right: -80px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: logo-symbol 1.5s ease 0 forwards;
  animation: logo-symbol 1.5s ease 0 forwards;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 130, ../sass/main.scss */
.logo-separator {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 80px;
  display: inline-block;
  -webkit-animation: logo-separator 1s ease 0 forwards;
  animation: logo-separator 1s ease 0 forwards;
}

/* line 139, ../sass/main.scss */
.logo-name {
  position: absolute;
  padding-left: 20px;
  text-indent: -241px;
  top: -10px;
  left: 50%;
  display: inline;
  font-size: 30px;
  overflow: hidden;
  -webkit-animation: logo-name 1.5s ease 0 forwards;
  animation: logo-name 1.5s ease 0 forwards;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 153, ../sass/main.scss */
.title-primary {
  font-size: 60px;
  padding-top: 130px;
  text-align: center;
  margin-bottom: 50px;
}

/* line 159, ../sass/main.scss */
.email {
  width: 50px;
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
}

/* line 166, ../sass/main.scss */
.email:hover:after {
  position: absolute;
  content: 'Get in touch';
  font-family: 'Open Sans';
  color: #494949;
  text-decoration: none;
  font-size: 20px;
  width: 150px;
  left: -50px;
  text-align: center;
}

/* line 178, ../sass/main.scss */
.icon-envelope {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../img/envelope.svg") 0 -50px;
  background-size: 50px 100px;
  background-repeat: no-repeat;
}

/* line 186, ../sass/main.scss */
.icon-envelope:hover {
  background-position: 0 0;
  -webkit-animation: shake-email 1s;
  animation: shake-email 1s;
}

/* line 193, ../sass/main.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 194, ../sass/main.scss */
.cf:after {
  clear: both;
}

@media only screen and (max-width: 467px) {
  /* line 198, ../sass/main.scss */
  .logo-name {
    top: -32px;
  }

  /* line 201, ../sass/main.scss */
  .title-primary {
    padding-top: 99px;
    margin-bottom: 30px;
  }
}
