@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* COLOURS */
/* TEXT COLOUR */
/* FONT FACE */
/* FONT WEIGHT */
/* FONT SIZES */
/* BASE */
/* line 25, ../sass/partials/_typography.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #313131;
  line-height: 1.5;
}

/* line 33, ../sass/partials/_typography.sass */
h1 {
  font-size: 35px;
}

/* line 33, ../sass/partials/_typography.sass */
h2 {
  font-size: 31px;
}

/* line 33, ../sass/partials/_typography.sass */
h3 {
  font-size: 28px;
}

/* line 33, ../sass/partials/_typography.sass */
h4 {
  font-size: 24px;
}

/* line 33, ../sass/partials/_typography.sass */
h5 {
  font-size: 21px;
}

/* line 33, ../sass/partials/_typography.sass */
h6 {
  font-size: 17px;
}

/* line 37, ../sass/partials/_typography.sass */
small {
  font-size: 10px;
}

/* line 40, ../sass/partials/_typography.sass */
strong, b {
  font-weight: 600;
}

/* line 44, ../sass/partials/_typography.sass */
a:link, a:visited {
  color: #313131;
}
/* line 46, ../sass/partials/_typography.sass */
a:hover, a:active {
  background: #7e3f98;
  color: white;
  text-decoration: none;
}

/* line 9, ../sass/main.sass */
article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
