/* COMPASS VARIABLES */
$default-transition-duration: 0.5s

/* COLOURS */
$primary-colour: #7E3F98
$secondary-colour: #4D2A80
$tertiary-colour: #F4F2F4

/* TEXT COLOUR */
$primary-text-colour: #313131
$secondary-text-colour: #FFFFFF

/* FONT FACE */
$primary-font: 'Open Sans', sans-serif

/* FONT WEIGHT */
$font-light: 300
$font-regular: 400
$font-bold: 600

/* FONT SIZES */
$font-base: 14px
$increment: 3.5px

/* WIDTHS */
$main-width: 1170px

/* BreakPoints */
$large-screen: "(min-width: 1200px )"
$medium-screen: "(max-width: 1199px )"
$small-screen: "(max-width: 720px )"
$x-small-screen: "(max-width: 560px )"