@mixin calc($property, $expression)
    #{$property}: -moz-calc(#{$expression})
    #{$property}: -webkit-calc(#{$expression})
    #{$property}: calc(#{$expression})

@mixin size-and-position($width, $height, $top, $left)
    +calc('width', "(100% / 6) * #{$width}")
    +calc('height', "(100% / 3) * #{$height}")
    +calc('top', "(100% / 3) * #{$top}")
    +calc('left', "(100% / 6) * #{$left}")

@mixin container
    @media #{$large-screen}
        width: $main-width
        margin: auto
    @media #{$medium-screen}
        +calc(width, "100% - 60px")
        margin: 0 30px
    @media #{$small-screen}
        +calc(width, "100% - 30px")
        margin: 0 15px

body > header, body > footer
    background: $primary-colour
    color: $secondary-text-colour

.container
    +container

body > header
    padding: 20px 0
    overflow: hidden
    @media #{$small-screen}
        padding: 0
    .container
        display: table
    .logo
        display: table-cell
        vertical-align: middle
        @media #{$x-small-screen}
            display: block
            text-align: center
        img, h1
            display: inline
            vertical-align: middle
        img
            margin-right: 15px
        @media #{$small-screen}
            h1
                +font-large(4)
            img
                width: 30px
                margin-right: 10px

    nav
        display: table-cell
        vertical-align: middle
        text-align: right
        @media #{$x-small-screen}
            display: block
            text-align: center
            ul
                padding: 0
                margin: 8px 0
        li
            display: inline

body > footer
    padding: 20px 0
    @media #{$small-screen}
        padding: 10px 0
    .container
        display: table
    .contact-footer
        display: table-cell
        width: 50%
        @media #{$small-screen}
            width: 35%
        > *
            vertical-align: middle
    .github-footer
        text-align: right
        width: 50%
        display: table-cell
        @media #{$small-screen}
            width: 65%
        > *
            vertical-align: middle
        span
            display: inline-block
            text-align: left
            max-width: 200px
            margin-left: 10px
    @media #{$x-small-screen}
        .contact-footer
            text-align: center
            span
                +font-large(6)
        .github-footer
            text-align: center
            span
                margin-top: 8px
                +font-small


section.intro 
    padding: 70px 0
    @media #{$small-screen}
        padding: 20px 0
    .container
        display: table
    .intro-image
        display: table-cell
        width: 30%
        vertical-align: middle
        text-align: right
        img
            width: 65%
        @media #{$small-screen}
            display: none


    .intro-message
        display: table-cell
        vertical-align: middle
        width: 70%
        @media #{$small-screen}
            width: 100%

.skills
    padding: 100px 0
    @media #{$small-screen}
        padding: 20px 0
    .container
        display: table
    .logo-container, .description
        display: table-cell
        width: 50%
        vertical-align: middle
    .logo-container
        text-align: center
        @media #{$small-screen}
            width: 35%
        @media #{$x-small-screen}
            width: 65%
            img
                max-height: 120px
        img
            width: 200px
            max-width: 100%
    .description
        p
            max-width: 450px
        @media #{$small-screen}
            width: 65%
    @media #{$x-small-screen}
        h2
            margin-top: 10px
            text-align: center
        .logo-container, .description
            display: block
        .description
            width: 100%
        .logo-container
            margin: auto

section.skill-html
    background: $tertiary-colour

section.skill-css
    background: $primary-colour
    color: $secondary-text-colour
    .logo-container img
        width: 80%
    @media #{$x-small-screen}
        .container
            +flexbox
            +flex-flow(column nowrap)
        .logo-container
            +order(0)
        .description
            +order(1)


section.skill-jquery
    .logo-container img
        width: 65%
        @media #{$x-small-screen}
            width: 100%

section.skill-more
    padding: 30px 0 50px 0
    background: $primary-colour
    color: $secondary-text-colour
    h2
        text-align: center
        margin-bottom: 80px
    .more-logos-container
        display: table
        width: 100%
    .each-logo
        display: table-cell
        width: 20%
        vertical-align: middle
        text-align: center
        img 
            width: 70%
            max-height: 70px
    @media #{$x-small-screen}
        padding: 30px 0
        h2
            margin-bottom: 20px
        .each-logo
            display: inline-block
            width: 33.333%
            margin-bottom: 20px
            &:nth-child(n+4)
                width: 50%
            img
                max-height: 55px

section.skill-google
    background: $tertiary-colour
    padding: 20px 0
    h3
        text-align: center
        margin-bottom: 40px
    img
        display: block
        width: 300px
        max-width: 100%
        margin: auto
        margin-bottom: 20px
    img.search-box
        width: 700px
        margin-bottom: 30px
    @media #{$x-small-screen}
        .search-box
            display: none
        img
            width: 200px

.picture-wall-container
    margin-top: 80px
    position: relative
    width: 100%
    &:before
        content: ""
        display: block
        padding-top: 50%
    .picture-wall
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
    .each-picture
        position: absolute
        border: 3px solid white
        overflow: hidden
        img
            max-width: 100%
        &:after, &:hover:after
            +single-transition
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: rgba(0,0,0,0.8)
            content: attr(data-title)
            padding-top: 70%
            text-align: center
            opacity: 0
            +font-bold
            +font-large
        &:hover:after
            opacity: 1
            color: $secondary-text-colour
            padding-top: 30%
        &:hover:before
            content: attr(data-content)
            color: $secondary-text-colour
            position: absolute
            text-align: center
            display: block
            z-index: 2
            top: 60%
            width: 100%
        &.snowboard
            +size-and-position(2, 2, 0, 0)
        &.travel
            +size-and-position(3, 1, 0, 2)
            &:hover:after
                padding-top: 10%
        &.skateboard
            +size-and-position(1, 1, 0, 5)
        &.brazil
            +size-and-position(1, 1, 1, 2)
        &.love
            +size-and-position(1, 1, 1, 3)
        &.webdesign
            +size-and-position(2, 2, 1, 4)
        &.bike
            +size-and-position(1, 1, 2, 0)
        &.cheese
            +size-and-position(1, 1, 2, 1)
        &.toronto
            +size-and-position(2, 1, 2, 2)
            &:hover:after
                padding-top: 10%

section.career
    background: $primary-colour
    color: $secondary-text-colour





