@mixin calc($property, $expression)
    #{$property}: -moz-calc(#{$expression})
    #{$property}: -webkit-calc(#{$expression})
    #{$property}: calc(#{$expression})

@mixin size-and-position($width, $height, $top, $left)
    +calc('width', "(100% / 6) * #{$width}")
    +calc('height', "(100% / 3) * #{$height}")
    +calc('top', "(100% / 3) * #{$top}")
    +calc('left', "(100% / 6) * #{$left}")

@mixin btn($isNegative: false)
    display: inline-block
    padding: 18px
    border: none
    +font-regular
    &:hover
        bottom: 3px
        right: 3px
        +single-box-shadow($secondary-colour, 4px, 4px, 0, 0)
    @if $isNegative
        background: $secondary-text-colour
        color: $primary-colour
    @else
        background: $primary-colour
        color: $secondary-text-colour
    @media #{$small-screen}
        padding: 10px

@mixin font-responsive($default: 14px)
    font-size: $default
    @media #{$medium-screen}
        font-size: ceil($default * .6)
    @media #{$small-screen}
        font-size: ceil($default * .466)

@mixin container
    @media #{$large-screen}
        width: $main-width
        margin: auto
    @media #{$medium-screen}
        +calc(width, "100% - 60px")
        margin: 0 30px
    @media #{$small-screen}
        +calc(width, "100% - 30px")
        margin: 0 15px

@mixin mail($mail-w)
    form
        margin-top: $mail-w * 0.285
        position: relative
        width: $mail-w
        height: $mail-w 
        margin: auto
        .flap
            border-bottom: $mail-w * 0.4 solid $secondary-colour
            border-left: $mail-w * 0.5 solid transparent
            border-right: $mail-w * 0.5 solid transparent
        .back
            +background(linear-gradient(color-stops($secondary-colour 30%, darken($secondary-colour, 20%))))
            height: $mail-w * 0.5
        .letter
            background: $tertiary-colour
            width: $mail-w * 0.9
            height: $mail-w * 0.906
            margin: auto
            position: relative
            top: - $mail-w * 1.08
            padding: $mail-w * 0.0525
            +single-box-shadow(rgba(0,0,0,0.3), 0, 4px, 5px, 0)
            +single-transition
            &:hover
                top: - $mail-w * 1.2
            *
                margin: 0
                padding: 0
                border: none
                font-size: $mail-w * .03
            li
                list-style: none
            label
                display: block
                margin: 0 0 ($mail-w * 0.017857) 0
            input, textarea
                display: block
                width: 100%
                border: none
                resize: none
                overflow: auto
                margin-bottom: $mail-w * 0.07142
                padding: $mail-w * 0.014285
                &:focus
                    outline-color: $primary-colour
                    outline-style: solid
                    outline-width: $mail-w * 0.00357142857143
            textarea
                height: $mail-w * 0.303571
                margin-bottom: 0
        .envelope
            border-top: $mail-w * .3225 solid transparent
            border-left: $mail-w * .5 solid $primary-colour
            border-right: $mail-w * .5 solid $primary-colour
            padding-bottom: $mail-w * .19
            top: - $mail-w * 1.4
            position: relative
            pointer-events: none
        .btn-submit
            +btn(true)
            position: relative
            top: - $mail-w * 1.55
            display: block
            margin: auto
            font-size: $mail-w * .03
            padding: $mail-w * .025
    &.sent
        .flap
            +rotate(180deg)
            z-index: 2
            position: relative
        .letter, .back
            display: none
        .envelope
            top: - $mail-w * .4
        .btn-submit
            top: - $mail-w * .8183
            z-index: 3
            +font-huge
            color: $secondary-text-colour
            background: none
            &:hover, &:active
                border: none
                bottom: 0
                right: 0
                +single-box-shadow(transparent,0,0,0,0)



body > header, body > footer
    background: $primary-colour
    color: $secondary-text-colour
    +border-radius(0)

.container
    +container


body > header
    padding: 20px 0
    overflow: hidden
    @media #{$small-screen}
        padding: 0
    .container
        display: table
    .logo
        display: table-cell
        vertical-align: middle
        @media #{$x-small-screen}
            display: block
            text-align: center
        img, h1
            display: inline
            vertical-align: middle
        img
            margin-right: 15px
        @media #{$small-screen}
            h1
                +font-large(4)
            img
                width: 30px
                margin-right: 10px

    nav
        display: table-cell
        vertical-align: middle
        text-align: right
        @media #{$x-small-screen}
            display: block
            text-align: center
            ul
                padding: 0
                margin: 8px 0
        li
            display: inline

body > footer
    padding: 20px 0
    @media #{$small-screen}
        padding: 10px 0
    .container
        display: table
    .contact-footer
        display: table-cell
        width: 50%
        @media #{$small-screen}
            width: 35%
        > *
            vertical-align: middle
        a, a:hover, a:active
            border: none
            background: none
            padding: 0
            +inline-flex
        a:after
            font-size: 0
            content: attr(title)
            +inline-flex
            color: $secondary-text-colour
            line-height: 50px
            +single-transition
        @media (min-width: 720px )
            a:hover, a:active
                &:after
                    font-size: $font-base
    .github-footer
        text-align: right
        width: 50%
        display: table-cell
        @media #{$small-screen}
            width: 65%
        > *
            vertical-align: middle
        span
            display: inline-block
            text-align: left
            max-width: 200px
            margin-left: 10px
    @media #{$x-small-screen}
        .contact-footer
            text-align: center
        .github-footer
            text-align: center
            span
                margin-top: 8px
                +font-small


section.intro 
    padding: 70px 0
    @media #{$small-screen}
        padding: 20px 0
    .container
        display: table
    .intro-image
        display: table-cell
        width: 30%
        vertical-align: middle
        text-align: right
        img
            width: 65%
        @media #{$small-screen}
            display: none


    .intro-message
        display: table-cell
        vertical-align: middle
        width: 70%
        @media #{$small-screen}
            width: 100%

.skills
    padding: 100px 0
    @media #{$small-screen}
        padding: 20px 0
    .container
        display: table
    .logo-container, .description, .scores-container
        display: table-cell
        width: 50%
        vertical-align: middle
    .logo-container, .scores-container
        text-align: center
        @media #{$small-screen}
            width: 35%
        @media #{$x-small-screen}
            width: 65%
            img
                max-height: 120px
        img
            width: 200px
            max-width: 100%
    .description
        p
            max-width: 450px
        @media #{$small-screen}
            width: 65%
    @media #{$x-small-screen}
        h2
            margin-top: 10px
            text-align: center
        .logo-container, .description, .scores-container
            display: block
        .description
            width: 100%
        .logo-container, .scores-container
            margin: auto

section.skill-html
    background: $tertiary-colour

section.skill-css
    background: $primary-colour
    color: $secondary-text-colour
    .logo-container img
        width: 80%
    @media #{$x-small-screen}
        .container
            +flexbox
            +flex-flow(column nowrap)
        .logo-container
            +order(0)
        .description
            +order(1)


section.skill-jquery
    .logo-container img
        width: 65%
        @media #{$x-small-screen}
            width: 100%

section.skill-more
    padding: 30px 0 50px 0
    background: $primary-colour
    color: $secondary-text-colour
    h2
        text-align: center
        margin-bottom: 80px
    .more-logos-container
        display: table
        width: 100%
    .each-logo
        display: table-cell
        width: 20%
        vertical-align: middle
        text-align: center
        img 
            width: 70%
            max-height: 70px
    @media #{$x-small-screen}
        padding: 30px 0
        h2
            margin-bottom: 20px
        .each-logo
            display: inline-block
            width: 33.333%
            margin-bottom: 20px
            &:nth-child(n+4)
                width: 50%
            img
                max-height: 55px

section.skill-google
    background: $tertiary-colour
    padding: 20px 0
    h3
        text-align: center
        margin-bottom: 40px
    img
        display: block
        width: 300px
        max-width: 100%
        margin: auto
        margin-bottom: 20px
    img.search-box
        width: 700px
        margin-bottom: 30px
    @media #{$x-small-screen}
        .search-box
            display: none
        img
            width: 200px

.picture-wall-container
    margin-top: 80px
    position: relative
    width: 100%
    @media #{$x-small-screen}
        margin-top: 0
    &:before
        content: ""
        display: block
        padding-top: 50%
    .picture-wall
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
    .each-picture
        position: absolute
        border: 3px solid white
        overflow: hidden
        img
            max-width: 100%
        &:after, &:hover:after
            +single-transition
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: transparentize($primary-colour, 0.2)
            content: attr(data-title)
            padding-top: 70%
            text-align: center
            opacity: 0
            +font-bold
            +font-responsive(25px)
        &:hover:after, &.active:after
            opacity: 1
            color: $secondary-text-colour
            padding-top: 30%
        &:hover:before, &.active:before
            content: attr(data-content)
            color: $secondary-text-colour
            position: absolute
            text-align: center
            display: block
            z-index: 2
            top: 60%
            width: 100%
            +font-responsive(16px)
        &.snowboard
            +size-and-position(2, 2, 0, 0)
        &.travel
            +size-and-position(3, 1, 0, 2)
            &:hover:after
                padding-top: 10%
        &.skateboard
            +size-and-position(1, 1, 0, 5)
        &.brazil
            +size-and-position(1, 1, 1, 2)
        &.love
            +size-and-position(1, 1, 1, 3)
        &.webdesign
            +size-and-position(2, 2, 1, 4)
        &.bike
            +size-and-position(1, 1, 2, 0)
        &.cheese
            +size-and-position(1, 1, 2, 1)
        &.toronto
            +size-and-position(2, 1, 2, 2)
            &:hover:after
                padding-top: 10%

.testimonial
    blockquote
        max-width: 915px
        margin: 100px auto 40px auto
        p
            text-align: center
            +font-huge
            margin-bottom: 10px
        footer
            text-align: right
        @media #{$x-small-screen}
            margin: 50px auto 40px auto
            p
                +font-large



section.career
    background: $primary-colour
    color: $secondary-text-colour
    text-align: right
    h2
        +font-huge
        margin-top: 0
        text-align: left
    p
        text-align: left
    .btn.btn-resume
        +btn(true)
    @media #{$x-small-screen}
        text-align: center
        h2
            +font-large

section.website
    h2
        +font-huge
        margin-top: 0
    .description
        vertical-align: baseline
        width: 65%
        @media #{$medium-screen}
            width: 55%
        @media #{$small-screen}
            display: block
            width: 100%
        p 
            max-width: 100%
    .scores-container
        text-align: right
        vertical-align: baseline
        @media #{$small-screen}
            display: block
            width: 100%
            text-align: center
            background: $tertiary-colour
            padding: 20px
    .score
        margin-bottom: 30px
        p
            +font-large(5)
            margin-bottom: 0
        &.wife p
            +font-large
    @media #{$x-small-screen}
        h2
            +font-large
            text-align: left
body.contact
    h2
        +font-huge
        text-align: center
        margin: 60px 0 150px 0
        @media #{$x-small-screen}
            +font-large(4)
            margin: 30px 0 60px 0
    h2.second-heading
        margin: 30px 0 60px 0



.mail-container
    +mail(600px)
    @media #{$small-screen}
        +mail(530px)
    @media #{$x-small-screen}
        +mail(280px)

.contacts
    display: inline-block
    width: 49%
    text-align: center
    margin-bottom: 60px
    img
        width: 30%
        +single-transition
    a:link, a:visited
        border: none
    a:hover, a:active
        background: none
        img
            +scale(1.2, 1.2)

body.work
    min-height: 100%
    .temp-message
        max-width: 650px
        margin: auto
    p, h2
        text-align: center
        +font-large
    h2
        +font-huge
    footer
        width: 100%
        position: absolute
        bottom: 0
