// FONT WEIGHTS
@mixin font-light
    font-weight: $font-light
@mixin font-regular
    font-weight: $font-regular
@mixin font-bold
    font-weight: $font-bold

// FONT SIZES
@mixin font-huge
    font-size: floor($font-base * 3.5)
@mixin font-large($number: 3)
    @if ($number < 7)
        font-size: floor($font-base + ((7 - $number) * $increment))
    @else
        font-size: floor($font-base + $increment)
@mixin font-small
    font-size: floor($font-base * 0.75)

@mixin negative-link
    a:link, a:visited
        color: $secondary-text-colour
    a:hover, a:active
        background: $secondary-colour

// FONT FACE
@import "partials/open-sans"

//Colour on select
::selection
    color: $secondary-text-colour
    background: $secondary-colour

::-moz-selection
    color: $secondary-text-colour
    background: $secondary-colour

/* BASE */
body
    font-family: $primary-font
    +font-light
    color: $primary-text-colour
    line-height: 1.5

//Create headings font size
@for $i from 1 through 6
    h#{$i}
        +font-large($i)
        +font-light


small
    +font-small

strong, b
    font-weight: $font-bold

a
    text-decoration: none
    position: relative
    bottom: 0
    right: 0
    &:link, &:visited
        color: $primary-text-colour
        border-bottom: 1px #{$secondary-colour} dotted
    &:hover, &:active
        background: $secondary-colour
        color: $secondary-text-colour
        padding: 3px


/* HEADER */
body > header
    a, a:link, a:visited
        text-decoration: none
        color: $secondary-text-colour
        padding: 40px 15px
        @media #{$small-screen}
            padding: 20px 10px
        &:hover, &:active
            background: $secondary-colour
            @media #{$x-small-screen}
                background: none
                text-decoration: underline

/*MAIN NAV */
body
    &.home
        a.home:link, a.home:visited
            background: $secondary-colour
            @media #{$x-small-screen}
                background: none
                text-decoration: underline
    &.about
        a.about:link, a.about:visited
            background: $secondary-colour
            @media #{$x-small-screen}
                background: none
                text-decoration: underline
    &.work
        a.work:link, a.work:visited
            background: $secondary-colour
            @media #{$x-small-screen}
                background: none
                text-decoration: underline
    &.contact
        a.contact:link, a.contact:visited
            background: $secondary-colour
            @media #{$x-small-screen}
                background: none
                text-decoration: underline


/* FOOTER */
body > footer
    +negative-link
    .contact-footer, .linkedin-footer
        vertical-align: middle
        border-bottom: none
        &:hover, &:active
            background: none
        +font-large

/* INTRO */ 
.intro-message
    padding-bottom: 40px
    h2
        +font-huge
        margin-bottom: 0
        strong
            +font-regular
        @media #{$x-small-screen}
            +font-large
