// FONT WEIGHTS
@mixin font-light
    font-weight: $font-light
@mixin font-regular
    font-weight: $font-regular
@mixin font-bold
    font-weight: $font-bold

// FONT SIZES
@mixin font-huge
    font-size: floor($font-base * 3.5)
@mixin font-large($number: 3)
    @if ($number < 7)
        font-size: floor($font-base + ((7 - $number) * $increment))
    @else
        font-size: floor($font-base + $increment)
@mixin font-small
    font-size: floor($font-base * 0.75)

@mixin negative-link
    a:link, a:visited
        color: $secondary-text-colour
    a:hover, a:active
        background: $secondary-colour

// FONT FACE
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600)


/* BASE */
body
    font-family: $primary-font
    +font-light
    color: $primary-text-colour
    line-height: 1.5

//Create headings font size
@for $i from 1 through 6
    h#{$i}
        +font-large($i)
        +font-light


small
    +font-small

strong, b
    font-weight: $font-bold

a
    +single-transition
    &:link, &:visited
        color: $primary-text-colour
    &:hover, &:active
        background: $secondary-colour
        color: $secondary-text-colour
        text-decoration: none


/* HEADER */
header
    a, a:link, a:visited
        text-decoration: none
        color: $secondary-text-colour
        padding: 40px 15px
        &:hover, &:active
            background: $secondary-colour

/*MAIN NAV */
body.home
    a.home:link, a.home:visited
        background: $secondary-colour

/* FOOTER */
footer
    +negative-link
    .contact-footer
        vertical-align: middle
        text-decoration: none
        &:hover, &:active
            background: none
            padding-left: 10px
        +font-large

/* INTRO */ 
.intro-message
    h2
        +font-huge
        strong
            +font-regular
