<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Portfolio - Jonny Andreola</title>
    <link rel="stylesheet" href="{{ css }}main.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="{{ img }}apple-touch-icon.png"/>
</head>
<body>
    <div class="container">
        <div class="logo" role="logo">
            <div class="logo-symbol-wrap">
                <img class="logo-symbol" src="{{ img }}symbol.svg" alt="My logo symbol">
            </div>
            <i class="logo-separator"></i>
            <h1 class="logo-name open-sans">Jonny Andreola</h1>
        </div>
        <h2 class="title-primary open-sans">Something really cool is coming</h2>
        <a class="email" href="mailto:jonnyandreola@gmail.com">
            <i class="icon-envelope"></i>
        </a>
    </div>
    <script src="{{ js }}main.js"></script>
</body>
</html>