{% extends 'base' %}

{% block title %}My Work{% endblock %}

{% block body_class %}work{% endblock %}

{% block content %}
<div class="container temp-message">
    <h2>Opsy... I will have some work to include here really soon.</h2>
    <p>I do those fancy things called websites, and my family ask me to fix their computers because I work with computers.</p>
</div>
{% endblock %}